@import "mixins";
.index-body {
    @media (max-width: 768px) {
        .container {
            width: 393px;
            header {
                width: 393px;
    
                nav {
                    @include navigation;
                }
    
                .header-hero {
                    width: 393px;
                    display: flex;
                    flex-direction: column;
    
                    .header-summary {
                        width: 393px;
                        height: 500px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        h2 {
                            font-size: 40px;
                            width: 393px;
                        }
    
                        p {
                            font-size: 15px;
                            width: 300px;
                            margin-bottom: 5px;
                            margin-left: -90px;
                        }
    
                        .benefits-track {

                            .benefits {
                                width: 340px;
                                margin-left: -70px;
        
                                .benefits-txt {
                                    font-size: 10px;
                                    margin-left: 5px;
                                }
        
                                .txt-none {
                                    display: none;
                                }
        
                                &:last-child::after {
                                    content: '';
                                }
        
                                :nth-last-child(2)::after {
                                    content: ''; 
                                }
                            }
                        }
                    }
    
                    .header-photo {
                        display: none;
                    }
                }
    
                .achievements {
                    height: 1100px;
                    width: 393px;
                    display: grid;
                    display: flex;
                    grid-template-columns: 350px 350px;
                    grid-template-rows: 180px 180px;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    margin-bottom: -60px;
                    padding-top: 25px;
                    padding-bottom: 10px;
                    
    
                    .achive-item {
                        width: 350px;
                    }
    
                    .bigger-item {
                        width: 393px;
                        
                    }
                }
            }
    
            main {
                
                .reasons-to-choose-nexgen {
                    width: 393px;
                    
    
                    .reasons-headline {
                        height: 250px;
                        
                        h2 {
                            text-align: center;
                            font-size: 30px;
                            position: relative;
                            left: -38px;
                            right: -50px;
                            margin: 0;
                            width: 300px;
                        }
                    }
                    
                    .reasons-items {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        align-items: center;
                        justify-content: center;
    
                        .reason-item{
                            width: 393px;
                            height: 380px;
    
                            .reason-headline {
                                font-size: 30px;
                                text-align: center;
                                line-height: 50px;
                                width: 393px;
                                margin-bottom: 5px;
                            }
    
                            .reason-summary {
                                width: 350px;
                                font-size: 15px;
                            }
                        }
                    }
                }
    
                .services {
                    width: 393px;
                    
                    .services-headline {
                        width: 393px;
    
                        h2 {
                            font-size: 30px;
                        }
                    }
    
                    .services-items {
                        display: flex;
                        flex-direction: column;
    
                        .column {
                            margin: 0 auto;
    
                            .services-item {
                                width: 393px;
                                height: 370px;
    
                                .services-item-headline {
                                    margin-bottom: 10px;
                                    margin-left: 30px;
    
                                    .block {
    
                                        .services-headline-txt {
                                            width: 250px;
                                        }
                                    }
    
                                    .services-headline-btn {
                                        display: flex;
                                        justify-content: center;
                                        width: 380px;
                                        height: 70px;
                                        border-radius: 13px;
                                        color: black;
                                        background-color: #CE7D63;
                                        position: relative;
                                        top: 260px;
                                        left: -260px;
                                        
                                        img {
                                            display: none;
                                            
                                        }
                                    }
                                }
                                
                                .services-item-summary-block {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    .services-item-summary {
                                        width: 330px;
                                        margin-left: 70px;
                                        margin-bottom: -30px;
                                    }
    
                                    .services-item-price-btn {
                                        font-size: 25px;
                                        margin-left: -30px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                .our-works {
                    width: 393px;
                    .works-headline {
                        width: 375px;
    
                        .our-works-headline-btn {
                            display: none;
                        }
                    }
    
                    .our-works-items {
                        width: 393px;
                        
                        .row {
                            width: 393px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            .our-works-item {
                                width: 393px;
                                height: 480px;
    
                                .our-works-item-headline {
                                    width: 393px;
                                }

                                .our-works-item-summary {
                                    width: 393px;
                                }
                            }
    
                            .works-img {
                                width: 393px;
                            }

                            .our-work-item-tech {
                                width: 393px;
                                margin-bottom: 50px;
    
                                .our-work-item-tech-btn {
                                    width: 393px;
                                }

                                .team-members-headline {
                                    margin-bottom: -20px;
                                }

                                .team-members {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    width: 393px;
                                    height: 170px;
                                }
                            }
                        }
                    }
                }
    
                .testimonials {
                    @include testimonials;
                }
    
                .frequently-asked-questions {
                    @include frequently-asked-questions;
                }

                .digital-presence {
                    @include digital-presence;
                }
    
                .social-media-txt {
                    @include social-media-txt;
                }
            }
    
            footer {
                @include footer;
            }
        }
    }
}

.projects-body {
    @media (max-width: 768px) {
        width: 393px;
            .container {
                header {
                    width: 393px;
        
                    nav {
                        @include navigation;
                    }

                    .header-hero {
                        width: 393px;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: center;
                        // justify-content: center;
                        display: grid;
                        grid-template-columns: 1fr;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;

                        .header-summary {
                            width: 393px;
                            text-align: center;
                            margin-left: -70px;
                            // display: flex;
                            // flex-direction: column;
                            // align-items: center;
                            // justify-content: center;

                            h2 {
                                font-size: 40px;
                                width: 380px;
                                margin-bottom: 20px;
                            }

                            p {
                                font-size: 15px;
                                width: 350px;
                                margin-left: 15px;
                            }
                        }

                        .header-photo {
                            width: 393px;
                            margin-top: -50px;

                            img {
                                width: 100%;
                                height: auto;
                                // margin-bottom: 100px;
                            }

                            .header-photo-txt {
                                display: none;
                            }
                        }
                    }
                }

                main {
                    .key-features {
                        width: 393px;
                        

                        .key-features-headline {
                            width: 393px;
                            text-align: center;

                            h2 {
                                font-size: 30px;
                                width: 300px;
                                margin-left: -40px;
                            }
                        }

                        .key-features-items {
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            align-items: center;

                            .key-features-item {
                                width: 380px;
                                text-align: center;

                                img {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }

                    .our-works {
                        width: 393px;
                        .works-headline {
                            width: 375px;
                            height: 200px;
                            display: flex;
                            flex-wrap: wrap;
        
                            .our-works-headline-btn {
                                display: none;
                            }

                            h2 {
                                margin-bottom: -15px;
                            }

                            .btn-block-switcher {
                                display: flex;
                                gap: 10px;

                                button {
                                    width: 110px;
                                    font-size: 13px;
                                }
                            }
                        }
    
                        .our-works-items {
                            width: 393px;
                            
                            .row {
                                width: 393px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                .our-works-item {
                                    width: 393px;
                                    height: 480px;
        
                                    .our-works-item-headline {
                                        width: 393px;
                                    }

                                    .our-works-item-summary {
                                        width: 393px;
                                    }
                                }
        
                                .works-img {
                                    width: 393px;
                                }

                                .our-work-item-tech {
                                    width: 393px;
                                    margin-bottom: 50px;
        
                                    .our-work-item-tech-btn {
                                        width: 393px;
                                    }

                                    .team-members-headline {
                                        margin-bottom: -20px;
                                    }

                                    .team-members {
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        width: 393px;
                                        height: 170px;
                                    }
                                }
                            }
                        }
                    }

                    .testimonials {
                        @include testimonials;
                    }
        
                    .frequently-asked-questions {
                        @include frequently-asked-questions;
                    }

                    .digital-presence {
                        @include digital-presence;
                    }
        
                    .social-media-txt {
                        @include social-media-txt;
                    }
                }

                footer {
                    @include footer;
                }
            }
    }
}

@media (max-width: 768px) {

    .contact-page-body {

        .container {
            header {
                width: 393px;
    
                nav {
                    @include navigation;
                }

                .header-hero {
                    width: 393px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .header-summary {
                        width: 393px;
                        text-align: center;

                        h2 {
                            font-size: 30px;
                            width: 350px;
                            margin-bottom: 20px;
                            margin-left: -50px;
                        }

                        p {
                            font-size: 15px;
                            width: 350px;
                            margin-left: -50px;
                        }
                    }

                    .header-photo {
                        width: 393px;;
                        margin-top: 30px;

                        img {
                            width: 100%;
                            height: auto;
                        }

                        .achievements {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                            width: 393px;
                            height: 900px;
                            padding-bottom: 20px;

                            .achive-item {
                                width: 350px;
                            }
                        }
                    }
                }

                .benefits {
                    width: 393px;

                    .benefits-txt {
                        font-size: 15px;
                        margin-left: 5px;
                    }

                    .txt-none {
                        display: none;
                    }

                    &:last-child::after {
                        content: '';
                    }

                    :nth-last-child(2)::after {
                        content: ''; 
                    }
                }
            }

            main {
                width: 393px;

                .our-works {
                    width: 393px; 
                    max-width: 100%; 
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    
                    .contacts-window {
                        margin-bottom: 30px;
                        width: 393px;

                        .works-headline {
                            width: 393px; 
                            max-width: 100%; 
                        }

                        .btn-block-switcher {
                            width: 385px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                        }

                        .our-works-items {
                            width: 393px; 
                            max-width: 100%; 
                            
                            .contact-block {
                                width: 393px; 
                                max-width: 100%; 

                                .contact-block-headline {
                                    width: 310px; 
                                    max-width: 100%; 
                                }

                                .contact-block-item {
                                    width: 310px;
                                }
                            }
                        }
                    }

                    .message-window {
                        width: 393px;
                        height: 1100px;

                        form {
                            width: 393px;
                            display: flex;
                            flex-direction: column;
    
                            .input-items {
                                justify-content: center;
                                align-items: center;
                                width: 350px;
                                display: flex;
                                flex-direction: column;
    
                                .input-item {
    
                                    .input-txt {
                                        width: 310px;
                                    }
                                }
                            }

                            .textarea-message {
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                width: 350px;
                                display: flex;
                                
                                // .textarea-headline {
                                //     margin-left: -480px;
                                // }

                                textarea {
                                    width: 350px;
                                    height: 200px;
                                    
                                }
                            }

                            .term-use-message-btn {
                                width: 300px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                                

                                .checkbox {
                                    margin-bottom: 40px;
                                }
                            }
                        }
                    }
                }

                .key-features {
                    width: 750px;
                    padding: 20px;

                    .key-features-headline {
                        width: 700px;
                        text-align: center;

                        h2 {
                            font-size: 40px;
                        }
                    }

                    .key-features-items {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        align-items: center;

                        .key-features-item {
                            width: 700px;
                            text-align: center;

                            img {
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .our-works {
                    width: 750px;

                    .works-headline {
                        width: 700px;
                        text-align: center;

                        .btn-block-switcher {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            button {
                                width: 30%;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }

                    .our-works-items {
                        width: 700px;

                        .row {
                            flex-direction: column;
                            align-items: center;
                            
                            gap: 30px;

                            .our-works-item {
                                width: 700px;
                            }

                            img {
                                width: 50px;
                                
                            }

                            .icon-img {
                                width: 60px;
                                height: 60px;
                            }

                            .tech-img {
                                width: 670px;
                                height: 600px;   
                            }

                            .our-work-item-tech {
                                width: 700px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                        }
                    }
                }

                .testimonials {
                    @include testimonials;
                }
    
                .frequently-asked-questions {
                    @include frequently-asked-questions;
                }

                .digital-presence {
                    @include digital-presence;
                }
    
                .social-media-txt {
                    @include social-media-txt;
                }
            }

            footer {
                @include footer;
            }
        }
    }
}

@media (max-width: 767px) {
    .blogs-open-body {
        width: 393px;
        header {
            width: 393px;
            margin-bottom: -100px;

            nav {
                @include navigation;
            }

            .header-hero {
                width: 393px;
                display: grid;
                grid-template-columns: 393px;
                

                .header-summary {
                    width: 393px;

                    h2 {
                        font-size: 50px;
                        width: 300px;
                        margin-left: -35px;
                        
                    }
                }

                .header-photo {
                    width: 393px;

                    .achievements {
                        width: 393px;

                        .achive-item {
                            width: 90%;
                            padding-left: 10px;
                            padding-right: 10px;
                            box-sizing: border-box;

                            .achive-name {
                                font-size: 15px;
                            }

                            .achive-number {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        main {

            .main-img {
                height: 250px !important;
                margin-bottom: 120px;
            }

            .blog {
                display: flex;
                flex-direction: column;
                align-items: center;

                .blog-icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin-bottom: 20px;
                }

                .blog-summary {
                    width: 100%;
                    height: 1300px;
                    margin-bottom: 30px;

                    .blog-summary-txt {
                        display: none;
                    }
                }
            }

            .testimonials {
                @include testimonials;
            }

            .frequently-asked-questions {
                @include frequently-asked-questions;
            }

            .digital-presence {
                @include digital-presence;
            }

            .social-media-txt {
                @include social-media-txt;
            }
        }

        footer {
            width: 393px;
            @include footer;
        }
    }
}